.banner-01 {
  background-image: url("../assets/banner/01.jpg")!important;
}

/**/

.post-p8 {
  background: url("../assets/post/p8.jpg") right 100px no-repeat!important;
}

.post-p9 {
  background: url("../assets/post/p9.jpg") left 150px no-repeat!important;
}

.post-p9-alt {
  background: url("../assets/post/p9.jpg") left 100px no-repeat!important;
}


